.terraform/
.terraform.lock.hcl
DataServerRunUp.sh

terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
terraform.tfstate.d/
Staging.tfvars
Prod.tfvars

Inventory
Vars.yml
playbook.yml
RunUp.tftpl

